<div class="container">
    <div class="row" style="justify-content: center">
        <div class="center-form">
            <form class="form-login" [formGroup]="loginForm">
              <div class="left-login">
                <h4 class="text-left same-text">Login</h4>
                <p class="text-left same-text-two">Welcome back! Please sign in to you account.</p>
                <p class="invalid-feedback">{{alert}}</p>
                <div class="form-group">
                  <label for="username">Email</label>
                  <input type="text" formControlName="username" class="form-control"  placeholder="Enter email address" />
                  <div *ngIf="(submitted && f.username.errors) || (f.username.invalid && f.username.touched)" class="invalid-feedback">
                    <div *ngIf="f.username.errors?.required" class="validimet">Email is required</div>
                    <div *ngIf="f.username.errors.email" class="validimet">Email must be a valid email address</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" formControlName="password" class="form-control" placeholder="Enter password" />
                  <div *ngIf="(submitted && f.password.errors) || (f.password.invalid && f.password.touched)" class="invalid-feedback">
                    <div *ngIf="f.password.errors?.required" class="validimet">Password is required</div>
                    <div *ngIf="f.password.errors.email" class="validimet">Password must contain at least eight characters, including uppercase, lowercase letters and numbers.</div>
                  </div>
                </div>
                <div class="forgot-password">
                  <p class="text-right"><a [routerLink]='["/register"]'>Don't have an account?</a></p>
                </div>


                <div class="butoni">
                  <button class="btn btn-primary" (click)="onSubmit()" [disabled]="loginForm.invalid">Login</button>
                </div>
                <div class="line-two"></div>
                <div id="text-go">
                  <p class="text-left"><a [routerLink]='["/home"]'>Go Back</a></p>
                </div>


              </div>
            </form>
          </div>
          <!--<hr class="new-line">-->
          <div class="line-center"></div>
        </div>

      </div>

