<div class="container">
  <div class="row">


    <div class="center-form">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h4 class="text-left same-text">Create an Account</h4>
        <div class="first-text">
          <p class="have-account-text">Already have an account? <a [routerLink]='["/login"]' class="login-text">Login</a></p>
        </div>
        <div class="form-group">
          <label>First Name</label>
          <input type="text" formControlName="firstName" class="form-control" placeholder="Enter first name">
          <!--<div *ngIf="(submitted && f.firstName.errors) || (f.firstName.invalid && f.firstName.touched)" class="invalid-feedback">
            <div *ngIf="f.firstName.errors?.required" class="validimet">First Name is required</div>
            <div *ngIf="f.firstName.errors?.pattern" class="validimet">
              First Name has certain characters that aren't allowed.
            </div>
          </div>-->
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" formControlName="lastName" class="form-control" placeholder="Enter last name">
          <!--<div *ngIf="(submitted && f.lastName.errors) || (f.lastName.invalid && f.lastName.touched)" class="invalid-feedback">
            <div *ngIf="f.lastName.errors?.required" class="validimet">Last Name is required</div>
            <div *ngIf="f.lastName.errors?.pattern" class="validimet">
              Last Name has certain characters that aren't allowed.
            </div>
          </div>-->
        </div>
        <!--<div class="form-group">
          <label>Phone Number</label>
          <input type="tel" formControlName="phone_number" class="form-control" placeholder="Enter phone number">-->
        <!--<div *ngIf="(submitted && f.phone_number.errors) || (f.phone_number.invalid && f.phone_number.touched)" class="invalid-feedback">
          <div *ngIf="f.phone_number.errors?.required" class="validimet">Phone Number is required</div>
          <div *ngIf="f.phone_number.errors?.pattern" class="validimet">
            Must be a valid UK phone number
          </div>
        </div>-->
        <!--</div>-->
        <div class="form-group">
          <label>Email</label>
          <input type="email" formControlName="email" class="form-control" placeholder="Enter email address">
          <!--<div *ngIf="(submitted && f.email.errors) || (f.email.invalid && f.email.touched)" class="invalid-feedback">
            <div *ngIf="f.email.errors.required" class="validimet">E-mail is required</div>
            <div *ngIf="f.email.errors.pattern" class="validimet">E-mail must be a valid email address</div>
          </div>-->
        </div>
        <div class="form-group">
          <!--<label>Email</label>-->
          <select formControlName="interest">
            <option value="" selected>Select your interest</option>
            <option *ngFor="let i of topics" [value]="i?.topicId">{{i?.topicName}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" formControlName="password" class="form-control" placeholder="Enter password">
          <!--<div *ngIf="(submitted && f.password.errors) || (f.password.invalid && f.password.touched)" class="invalid-feedback">
            <div *ngIf="f.password.errors?.required" class="validimet">Password is required</div>
            <div *ngIf="f.password.errors.minlength" class="validimet">Password must be at least 8 characters</div>
            <div *ngIf="f.password.errors.pattern" class="validimet">Password must contain at least eight characters, including uppercase, lowercase letters and numbers.</div>
          </div>-->
        </div>
        <!--<div class="form-group">
          <label for="password-confirm">Confirm Password</label>
          <input type="password" id="password-confirm" class="form-control" formControlName="confirmPassword" placeholder="Re-enter password">-->
        <!--<div *ngIf="(submitted && f.password_again.errors) || (f.password_again.invalid && f.password_again.touched)" class="invalid-feedback">
          <div *ngIf="f.password_again.errors?.required" class="validimet">Confirm Password is required</div>
          <div *ngIf="f.password_again.errors.pattern" class="validimet">Confirm Password must contain at least eight characters, including uppercase, lowercase letters and numbers.</div>
          <div *ngIf="f.password_again.errors?.mustMatch" class="validimet">Password must match</div>
        </div>-->
        <!--</div>-->
        <div class="butoni">

          <!--<button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Register</button>-->
          <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Register</button>

        </div>

        <!--<input type="hidden" id="agree" value="agree" formControlName="agree">-->
        <!--<input type="checkbox" id="agree" value="agree" [checked]="agreee.check == 'true'">-->
        <!--<input type="hidden" id="terms" value="true" formControlName="agree">-->
        <p class="text-center" style="margin-top:20px;">By joining, you agree to the <a>Terms</a> and <a>Privacy Policy</a></p>
        <div class="last-text">
          <p class="text-center">
            <a [routerLink]='["/home"]'>Cancel</a>
        </div>

      </form>
    </div>
  </div>

</div>
