
<form [formGroup]="searchForm">
  <div class="row">
    <div class="col-md-12" style="text-align: center">
      <input formControlName="search" placeholder="Search by material title or author" style="width: 50%" />
      <button type="submit" class="btn btn-sm  btn-danger" (click)="clearSearch()" style="margin-left: 10px" [disabled]="searched == false">Clear</button>
      <button type="submit" class="btn btn-sm  btn-primary" (click)="searchMaterials()" style="margin-left: 10px">Search</button>
    </div>
  </div>
    <p class="paragrafi" *ngIf="searched == false">Based on your interest..</p>
  <div *ngFor="let item of materials" class="col-md-12 diviMadh">
    <div class="row" [ngClass]="{ 'klasa':  searched == true}">
      <div class="col-md-3">
        <img src="{{item?.materialPhoto}}" width="90" height="75" />
      </div>
      <div class="col-md-6">
        <p>Title: {{item?.title}}</p>
        <p>Author: {{item?.author}}</p>
        <p>{{item?.topic}}</p>
      </div>
      <div class="col-md-3">
        <button *ngIf="item?.price == null" class="btn btn-primary btn-sm">Download</button>
        <button *ngIf="item?.price != null" class="btn btn-success btn-sm">Buy for {{item?.price}}$</button>
      </div>
      </div>
    </div>
</form>

<!--<div *ngFor="let item of materials">
  <h4><img src="{{item?.materialPhoto}}" width="90" height="75" /></h4>
  <h4>{{item?.title}}</h4>
  <h4>{{item?.author}}</h4>
  <h4>{{item?.topic}}</h4>
</div>-->
